.movie-details-container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cover-image {
  max-height: 25vw;
  border-radius: 8px;
  margin-bottom: 20px;
}

.movie-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 16px;
  line-height: 1.5;
}

.back-button {
  margin-left: 15vw;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  align-items: center;
  color: blue;
  cursor: pointer;
}

.back-icon {
  margin-right: 5px;
}
